export HOMEBREW_GITHUB_API_TOKEN=

### Add AWS scripts to paths
export PATH=$HOME/path/to/scripts

### Add Rails config
export RAILS_ENV=development

### Ansible args
export ANSIBLE_ARGS='--ask-vault-pass'

